:root {
    --golden: #fde38e;
    --green: #8BD4A0;
    --salmon: #E44F59;
    --white:  #dbdbdb;

    --ff-header: 'Satisfy', cursive;
}

/* GENERAL */
body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.bkg-tribune {
        background-image: url(/img/tribune.jpg);
}
.bkg-western {
        background-image: url(/img/western.jpg);
}

/* HEADER */
header {
    margin-left: auto;
    margin-right: auto;
}

#header-title {
    color: var(--green);
    font-family: var(--ff-header);
    font-size: 2rem;
}

main {
    margin-bottom: 60px;
}

/* NAVBAR */
.navbar-brand img {
    max-height: 35px;
}

/* #social-links .nav-link {
    padding: 22px;
} */

/* PROJECTS */
.project-img {
    width: 100%;
}
