:root {
    --golden: #fde38e;
    --green: #8BD4A0;
    --salmon: #E44F59;
    --white:  #dbdbdb;

    --ff-header: "Satisfy", cursive;
    --ff-title: "Mulish", sans-serif;
    --ff-body: "Cabin", sans-serif;
}   

/* GENERAL */
body {
    background-color: rgba(0, 0, 0, 0.75); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: var(--ff-body);
}

.bkg-tribune {
        background-image: url(/img/tribune.jpg);
}
.bkg-western {
        background-image: url(/img/western.jpg);
}

/* HEADER */
#header-title {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: .3rem;
    color: white;
    font-family: var(--ff-header);
    font-size: 2.3rem;
    margin: 0px;
    padding: 1rem;
}

/* NAVBAR */
#brand-link {
    font-size: 1rem;
    font-family: var(--ff-title);
}

.nav-link {
    font-size: 1rem;
    font-family: var(--ff-title);
}

/* PAGE CONTENT */
#page-content {
    display: grid;
    place-items: center;
}

.page-body {
    margin: 3rem 0 4.5rem;
}

.page-title {
    font-family: var(--ff-title);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* PROJECTS */
.card {
    font-family: var(--ff-title);
    max-width: 20rem;
}

.card a {
    text-decoration: none;
}
