:root {
    --golden: #fde38e;
    --green: #8BD4A0;
    --salmon: #E44F59;
    --white:  #dbdbdb;
}

/* NAVBAR */
.navbar-brand img {
    max-height: 30px;
}

/* PROJECTS */
.project-img {
    width: 100%;
}
